.avatar {
    width: 100px;
    height: 100px;
    margin: 0 !important;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #C5DFF8;
}

.card.w-100 {
    margin-top: 50px;
}

.left-side{
    border-right: 1px solid #C5DFF8;
}

.username {
    font-weight: bold;
    font-size: 24px;
}



/* Message Area */

.message-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formArea {
    background-color: #2D4356;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendButton {
    border: 1px solid #C5DFF8 !important;
}


.message {
    background-color: #2D4356;
    padding: 10px;
    /* max-width: 50%; */
    width: 100%;
    word-break: break-all;
    width: 50%;
    margin-bottom: 10px;
}

.noneSelectedUserArea{
    background-color: #2D4356;
    height: 100%;
    color: #C5DFF8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 100px;
    text-align: center;
    padding: 50px;
}

.user-message{
    width: 100%;
}

.message-container{
    padding: 30px;
}

.subContainerLeftSide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    color: #fff;
    border-bottom: 1px solid #C5DFF8;
}
